

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.UserInfo{ 
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
        margin-left: auto;
    margin-right: auto;

  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }


  
