
*{
  box-sizing:  border-box;
}

body,html{
  background-color: rgb(237, 240, 243);
  margin: 0;
  padding: 0;
  height: 100%;
}

input{
  width: 50%;
  outline: 0;
  height: 30px;
  font-size: 19px;
  border-width: 0 0 1.5px;
  border-color: rgb(12, 12, 12)
}


input::-webkit-input-placeholder {
  font-size: 19px;
  font-family: 'Roboto', sans-serif;  
}

.Input-Card{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  width: 60%;
  background-color: white;
  height: 180px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  border-radius: 2px;

}

.Components{
  width: 100%;
}